.nav-wrapper {
    padding: 0px 3rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .price {
    font-size: 2rem;
  }
  .course {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .course h1 {
    margin-bottom: 2rem;
  }

  .course img {
    min-width: 600px;
    height: auto;
  }

  .course .price.big {
    font-size: 2.5rem;
  }
  .card-action.course-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .course-form {
    margin-bottom: 2rem;
  }
