<h1>Add courses</h1>

<form action="/add" method="POST">
  <div class="input-field">
    <input placeholder="Course name" name="title" id="title" type="text" class="validate" required/>
    <label for="title">Course name</label>
    <span class="helper-text" data-error="Input course name"></span>
  </div>

  <div class="input-field">
    <input placeholder="Price" name="price" id="price" type="number" class="validate" required min="1"/>
    <label for="price">Course price</label>
    <span class="helper-text" data-error="Input price"></span>
  </div>

  <div class="input-field">
    <input placeholder="url image" name="img" id="img" type="text" class="validate" />
    <label for="img">Course image url</label>
    <span class="helper-text" data-error="Input url image"></span>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Add course</button>
</form>